body{
    background-color: black;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
}

hr{
    border: none;
    background-color: white;
    height: 1px;
    width: 100%;
    margin: 0px;
}

h1{
    font-weight: 300;
}

h2{
    font-weight: 300;  
    font-size: 30px;
}

.header{
    height: 300px;
    width: 100%;
    margin-top: 75px;  
    padding: 0;
    display: flex;
    justify-content: center;
}

.navBar{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);

}

.navBar_wrap{
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.hamb{
    display: none;
}

.popup{
    display: none;
}

.menu > li > a {
    text-decoration: none;
    
}

.menu > li {
    list-style-type: none;
}

.navBar_wrap .menu{
    display: flex;
}

.navBar_wrap .menu > li > a {
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: rgba(255, 255, 255, 0.7);
}

.navBar_wrap .menu > li > a:hover {
    color:rgb(0, 0, 0), 1;
}

@media (max-width: 1000px) {
    .navBar_wrap .menu {
        display: none;
    }
    .hamb{
        display: flex;
        align-items: center;
    }
    .hamb_field{
        padding: 10px 20px;
    }
    .bar{
        display: block;
        width: 30px;
        height: 3px;
        margin: 6px auto;
        background: white;
    }
    .popup{
        position: fixed;
        top: -100%;
        width: 900px;
        height: 50px;
        background-color: rgb(0, 0, 0);
        display: flex;
        transition: 0.3s;
    }
    .popup.open{
        top: 0;
    }

    .popup .menu{
        display: flex;
        align-items: flex-end;
        
    }
}

.navItem{
 padding-right: 20px;  
 color: aliceblue; 
}

.h1HeaderContentText{
    font-size: 60px;
    margin-bottom: 10px;
    margin-right: 142px;
    position: relative;
    animation: shadow  2s infinite ease-in-out;
}

.h2HeaderContentText{
    font-size: 35px;
    font-weight: 300;
    position: relative;
    margin: 10px 0px 28px 44px;
}

.wrapper{
    width: 1100px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: auto;
}

.myFoto{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    float: right;
    
}

.headerLine{
    width: 1000px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
   
}

.mainContainer{
    display: flex;
    flex-direction: row-reverse;
}



.liAsideContactsMail{
    background-image: url(/assents/мэйл.png);
}

.liAsideContactsTelefon{
    background-image: url(/assents/телефон.jpg);
}

.liAsideContactsLinkedin{
    background-image: url(/assents/линкидин.png);
}

.liAsideContactsDiscord{
    background-image: url(/assents/дискорд.png);
}

.ulAsideContacts{
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}

.liAsideContacts{
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 48px;
    margin-bottom: 10px;
    min-height: 30px;
    padding-left: 40px;
    background-size: 30px;
    background-position: left center;
}

.contact{
    display: flex;
    flex-direction: column;
}

.contact, .hardSkills, .softSkills{
    margin-left: 10px;
    margin-right: 10px;
}

.hrefClick{
    text-decoration: none;
    color: white;
}

.headerContent{
    margin-left: 40px;
}

.mainInformation{
    background-color: rgb(35, 32, 32);
}

.mainInformationContainer{
    margin-left: 10px;
    margin-right: 10px;

}

.asideContainer{
    background-color: rgb(25, 24, 24);
    width: 250px;
    height: 100%;
}

.skillsItemsLisst{
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}

.headerContentText{
    font-family: 'Questrial', sans-serif
}

.skills_html{
    background-image: url(/assents/html.svg);
}

.skills_js{
    background-image: url(/assents/javascript.svg);
}

.skills_css{
    background-image: url(/assents/css.svg);
}

.skills_figma{
    background-image: url(/assents/figma.svg);
}

.skills_git{
    background-image: url(/assents/github.svg);
}

.skills_language{
    background-image: url(/assents/png-clipart-speech-computer-icons-english-person-language-mimosa-tree-english-text.png);
}

.skills_items{
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 48px;
    margin-bottom: 10px;
    min-height: 30px;
    padding-left: 40px;
    background-size: 30px;
    background-position: left center;
}

.softSkillsList{
    padding-left: 20px;
}

.exampleCodBackspace{
    background-color: black;
    height: auto;
    margin: 15px; ;
   
}

.footer{
    height: 80px;
    width: 1100px;
    /*margin: auto;*/
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; 
}

.textFooter{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 40px;
    font-weight: 300;
}

.rs_school_js{
    width: 80px;
    height: 80px;
}


.sliderContainer{
    width: 800px;
    height: 470px;
    background-color: black;
    margin: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slider{
    width: 760px;
    height: 430px;
    overflow: hidden;
}

.slider-line{
    height: 430px;
    width: 3800px;
    display: flex;
    position: relative;
    left: 0;
}

.imgSlider{
    width: 760px;
    height: 430px;
}

.positionButton{
    display: flex;
    justify-content: space-evenly;
}

.btnLeft { 
   background-color:  rgb(183, 233, 251);
   padding: 15px 32px;
   border-radius: 4px;
   text-align:center;
}

.btnLeft:hover{
    background-color:  rgb(171, 171, 171);
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(189, 189, 189, 0.24), 0 17px 50px 0 rgba(175, 175, 175, 0.19);
    color: white;
}

.btnRight{
    background-color: rgb(183, 233, 251);
    border-radius: 4px;
    padding: 15px 32px;
    text-align:center;
}


.btnRight:hover{
    background-color:  rgb(171, 171, 171);
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(189, 189, 189, 0.24), 0 17px 50px 0 rgba(175, 175, 175, 0.19);
    color: white;
}

