body{
    background-color: black;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
}

hr{
    border: none;
    background-color: white;
    height: 1px;
    width: 100%;
    margin: 0px;
}

h1{
    font-weight: 300;
}

h2{
    font-weight: 300;  
    font-size: 30px;
}

.header{
    height: 300px;
    width: 100%;  
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navBar{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(11, 11, 11);
}

.navBar_wrap{
    display: flex;
    justify-content: space-between;
}

.h1HeaderContentText{
    font-size: 60px;
    margin-bottom: 10px;
    margin-right: 142px;
    position: relative;
    animation: shadow  2s infinite ease-in-out;
}

.h2HeaderContentText{
    font-size: 35px;
    font-weight: 300;
    position: relative;
    margin: 10px 0px 28px 44px;
}

.wrapper{
    width: 1000px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: auto;
}

.myFoto{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    float: right;
    
}

.headerLine{
    width: 1000px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
   
}

.mainContainer{
    display: flex;
    flex-direction: row-reverse;
}



.liAsideContactsMail{
    background-image: url(/assents/мэйл.png);
}

.liAsideContactsTelefon{
    background-image: url(/assents/телефон.jpg);
}

.liAsideContactsLinkedin{
    background-image: url(/assents/линкидин.png);
}

.liAsideContactsDiscord{
    background-image: url(/assents/дискорд.png);
}

.ulAsideContacts{
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}

.liAsideContacts{
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 48px;
    margin-bottom: 10px;
    min-height: 30px;
    padding-left: 40px;
    background-size: 30px;
    background-position: left center;
}

.contact{
    display: flex;
    flex-direction: column;
}

.contact, .hardSkills, .softSkills{
    margin-left: 10px;
    margin-right: 10px;
}

.hrefClick{
    text-decoration: none;
    color: white;
}

.headerContent{
    margin-left: 40px;
}

.mainInformation{
    background-color: rgb(35, 32, 32);
}

.mainInformationContainer{
    margin-left: 10px;
    margin-right: 10px;

}

.asideContainer{
    background-color: rgb(25, 24, 24);
    width: 250px;
    height: 100%;
}

.skillsItemsLisst{
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}

.headerContentText{
    font-family: 'Questrial', sans-serif
}

.skills_html{
    background-image: url(/assents/html.svg);
}

.skills_js{
    background-image: url(/assents/javascript.svg);
}

.skills_css{
    background-image: url(/assents/css.svg);
}

.skills_figma{
    background-image: url(/assents/figma.svg);
}

.skills_git{
    background-image: url(/assents/github.svg);
}

.skills_language{
    background-image: url(/assents/png-clipart-speech-computer-icons-english-person-language-mimosa-tree-english-text.png);
}

.skills_items{
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 48px;
    margin-bottom: 10px;
    min-height: 30px;
    padding-left: 40px;
    background-size: 30px;
    background-position: left center;
}

.softSkillsList{
    padding-left: 0px;
}


.footer{
    width: 1100px;
    height: 80px;
    margin-left: 59px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.textFooter{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 40px;
    font-weight: 300;
}

.rs_school_js{
    width: 80px;
    height: 80px;
}

.sliderContainer{
    width: 800px;
    height: 470px;
    background-color: black;
    margin: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slider{
    width: 760px;
    height: 430px;
    overflow: hidden;
}

.slider-line{
    height: 430px;
    width: 3040px;
    display: flex;
    position: relative;
    left: 0;
}

.imgSlider{
    width: 760px;
    height: 430px;
}

/*.block {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
   
}*/